.navbar {
    background-color: #007acc;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.navbar-logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-logo-image {
    width: 40px;
    margin-right: 10px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 20px;
    position: relative;
}

.nav-links {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: #ffcc00;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #007acc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    z-index: 1;
}

.submenu li {
    margin-bottom: 10px;
    list-style: none; /* Remover as bolinhas */
}

.submenu li a {
    color: #ffffff; /* Texto dos submenus na cor branca */
    text-decoration: none;
}

.nav-item:hover > .submenu {
    display: block;
}

.submenu li:hover {
    background-color: #005fa3;
    border-radius: 4px;
}

/* Ajuste os estilos restantes conforme necessário */
